<section class="register">
    <div class="register__image">
        <div class="image__text">
            <h1>Welcome To Complaint System!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat exercitationem assumenda dicta dolor amet debitis sed quaerat omnis ad, eos, esse illo. Temporibus consequatur autem sunt ratione? Dignissimos, quibusdam.</p>
        </div>
    </div>
    <div class="register__form">
        <div class="form__box">
            <div class="form__title">
                <h1>Register</h1>
                <h6>Create a new Account!</h6>
            </div>
            <div class="form__container">
                <form action="#">
                    <div class="form__group">
                        <input type="text" name="name" id="name" placeholder="John Doe" required>
                    </div>
                    <div class="form__group">
                        <input type="email" name="email" id="email" placeholder="johndoe@xyz.com" required>
                    </div>
                    <div class="form__group">
                        <input type="password" name="password" id="password" placeholder="********" required>
                    </div>
                    <div class="form__group">
                        <input type="password" name="conf-password" id="conf-password" placeholder="*******" required>
                    </div>
                    <div class="form__group">
                        <button type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>  
</section>
