/* You can add global styles to this file, and also import other style files */

/* Google Font Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Color Variables */
:root{
    --primary-color: #fe5f55;
    --secondary-color: #577399;
    --secondary-color-light: #bdd5ea;
    --color-light: #f7f7ff;
    --color-dark: #495867;
}


/* Basic Styling for all elements */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting Font-Size to 10px  */
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

.hide{
    display: none;
}

/* Form styling */

.form__group{
    display: block;
    padding: .7rem 0;
}

.form__group input, .form__group textarea, .form__group .select{
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    border: .1rem solid var(--secondary-color);
    outline: none;
    border-left: 1rem solid var(--secondary-color);
    border-radius: .5rem;
    background-color: transparent;
    color: var(--color-dark);
}

.form__group button{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    padding: 1rem;
    color: var(--color-light);
    border-radius: .5rem;
    cursor: pointer;
}

.form__group input::placeholder, .form__group select{
    color: var(--color-dark);
}

.form__group label{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-dark);
}

.form__group .error{
    border: .1rem solid var(--primary-color);
    border-left: 1rem solid var(--primary-color);
}

.form__group .error-msg{
    display: block;
    color: var(--primary-color);
    font-size: 1.2rem;
}

.form__group .hide{
    display: none;
}

.form__group select{
    /* appearance: none; */
    background-color: transparent;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.form__group select::-ms-expand{
    display: none;
}

.form__group .select{
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

select, .select::after{
    grid-area: select;
}

.form__group .select::after{
    content: '';
    width: 0.8em;
    height: .5em;
    background-color: var(--secondary-color);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    justify-self: end;
}

