<!-- <section class="register">
    <div class="register__image">
        <div class="image__text">
            <h1>Welcome To Complaint System!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat exercitationem assumenda dicta dolor amet debitis sed quaerat omnis ad, eos, esse illo. Temporibus consequatur autem sunt ratione? Dignissimos, quibusdam.</p>
        </div>
    </div>
    <div class="register__form">
        <div class="form__box">
            <div class="form__title">
                <h1>Register</h1>
                <h6>Create a new Account!</h6>
            </div>
            <div class="form__container">
                <form #registerForm="ngForm" novalidate (ngSubmit)="onSubmit(registerForm.value)">
                    {{registerForm.value | json}}
                    <div class="form__group">
                        <label for="name">Full Name</label>
                        <input 
                            type="text" 
                            #name="ngModel"
                            [class.error]="name.touched && name.invalid" 
                            name="name" 
                            id="name" 
                            placeholder="John Doe" 
                            [(ngModel)]="userModel.username" 
                            required>
                        <span
                            class="error-msg"
                            [class.hide]="name.valid && name.untouched">
                            Name Required
                        </span>
                    </div>
                    <div class="form__group">
                        <label for="email">Email</label>
                        <input 
                            type="email"
                            #email="ngModel"
                            [class.error]="email.touched && email.invalid" 
                            name="email" 
                            id="email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                            placeholder="johndoe@xyz.com" 
                            [(ngModel)]="userModel.email" 
                            required>
                        <span
                            class="error-msg"
                            [class.hide]="email.valid && email.untouched">
                            Email Required
                        </span>
                    </div>
                    <div class="form__group">
                        <label for="password">Password</label>
                        <input 
                            type="password"
                            #password="ngModel"
                            [class.error]="password.touched && password.invalid" 
                            name="password" 
                            id="password" 
                            placeholder="********" 
                            [(ngModel)]="userModel.password" 
                            required>
                        <span
                            class="error-msg"
                            [class.hide]="password.valid && password.untouched">
                        Password Required
                        </span>
                    </div>
                    <div class="form__group">
                        <button type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>  
</section>
 -->
