<section class="register">
    <div class="register__image">
        <div class="image__text">
            <h1>Welcome To Complaint System!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat exercitationem assumenda dicta dolor amet debitis sed quaerat omnis ad, eos, esse illo. Temporibus consequatur autem sunt ratione? Dignissimos, quibusdam.</p>
        </div>
    </div>
    <div class="register__form">
        <div class="form__box">
            <app-register></app-register>
        </div>
        <div class="form__box hide">
            <app-login></app-login>
        </div>
    </div>  
</section>

