<div class="ticket__container">
    <div class="ticket__body">
        <h1 class="ticket__title">First Ticket</h1>
        <p class="ticket__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam magni facilis suscipit, quam maiores ea dignissimos cumque nesciunt odio, dolore, nam saepe perspiciatis quasi similique quibusdam doloribus quae amet modi!</p>
    </div>
    <div class="ticket__body">
        <h1 class="ticket__title">First Ticket</h1>
        <p class="ticket__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam magni facilis suscipit, quam maiores ea dignissimos cumque nesciunt odio, dolore, nam saepe perspiciatis quasi similique quibusdam doloribus quae amet modi!</p>
    </div>
    <div class="ticket__body">
        <h1 class="ticket__title">First Ticket</h1>
        <p class="ticket__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam magni facilis suscipit, quam maiores ea dignissimos cumque nesciunt odio, dolore, nam saepe perspiciatis quasi similique quibusdam doloribus quae amet modi!</p>
    </div>
    <div class="ticket__body">
        <h1 class="ticket__title">First Ticket</h1>
        <p class="ticket__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam magni facilis suscipit, quam maiores ea dignissimos cumque nesciunt odio, dolore, nam saepe perspiciatis quasi similique quibusdam doloribus quae amet modi!</p>
    </div>
</div>
