<div class="ticket__container">
    <div class="ticket__body">
        <h1 class="ticket__title">First Ticket</h1>
        <p class="ticket__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam magni facilis suscipit</p>
        <div class="ticket__creator">
            <h6 class="ticket__author">- Archit</h6>
            <h6 class="ticket__created">05/04/2021</h6>
        </div>
        <div class="ticket__stat">
            <h6 class="ticket__priority">Medium</h6>
            <h6 class="ticket__status">In-Progress</h6>
        </div>
    </div>
    <div class="ticket__body">
        <h1 class="ticket__title">Second Ticket</h1>
        <p class="ticket__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam magni facilis suscipit, quam maiores ea dignissimos cumque nesciunt odio, dolore, nam saepe</p>
        <div class="ticket__creator">
            <h6 class="ticket__author">- Archit</h6>
            <h6 class="ticket__created">05/04/2021</h6>
        </div>
        <div class="ticket__stat">
            <h6 class="ticket__priority">Medium</h6>
            <h6 class="ticket__status">In-Progress</h6>
        </div>
    </div>
    <div class="ticket__body">
        <h1 class="ticket__title">Third Ticket</h1>
        <p class="ticket__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam magni facilis suscipit, quam maiores ea dignissimos cumque nesciunt odio, dolore</p>
        <div class="ticket__creator">
            <h6 class="ticket__author">- Archit</h6>
            <h6 class="ticket__created">05/04/2021</h6>
        </div>
        <div class="ticket__stat">
            <h6 class="ticket__priority">Medium</h6>
            <h6 class="ticket__status">In-Progress</h6>
        </div>
    </div>
    <div class="ticket__body">
        <h1 class="ticket__title">Fourth Ticket</h1>
        <p class="ticket__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam magni facilis suscipit, quam maiores ea dignissimos cumque nesciunt odio, dolore, nam saepe perspiciatis quasi similique quibusdam doloribus quae amet modi!</p>
        <div class="ticket__creator">
            <h6 class="ticket__author">- Archit</h6>
            <h6 class="ticket__created">05/04/2021</h6>
        </div>
        <div class="ticket__stat">
            <h6 class="ticket__priority">Medium</h6>
            <h6 class="ticket__status">In-Progress</h6>
        </div>
    </div>
</div>
