<nav class="navbar">
    <div class="navbar__logo">
        <a href="">Complaint System</a>
    </div>
    <div class="navbar__links">
        <ul>
            <li><a routerLink="/login" *ngIf = "!enroll.loggedIn()">Login</a></li>
            <li><a routerLink="/register" *ngIf = "!enroll.loggedIn()">Register</a></li>
            <li><a *ngIf = "enroll.loggedIn()">{{ username | titlecase}}</a></li>
            <li><a routerLink="/" *ngIf = "enroll.loggedIn()" (click)="enroll.logoutUser()">Logout</a></li>
        </ul>
    </div>
</nav>
