

.form__box{
    width: 100%;
    /* padding: 10rem 22rem; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.form__title{
    color: var(--color-dark);
    padding: 1rem 0;
}

.form__title h1{
    font-size: 5rem;    
    font-weight: 700;
}

.form__title h6{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.2;
}

